<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{dataSource.username}}</mat-card-title>
            <mat-card-subtitle>{{dataSource.id}}</mat-card-subtitle>
            <img mat-card-lg-image src="{{dataSource.avatar}}">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <span><strong>Name: </strong>{{dataSource.first_name}}</span><br>
        <span><strong>Email: </strong>{{dataSource.email}}</span><br>
        <span><strong>Employment: </strong>{{dataSource.employment.title}}</span><br>
        <span><strong>Country: </strong>{{dataSource.address.country}}</span><br>
        <span><strong>City: </strong>{{dataSource.address.city}}</span><br>
    </mat-card-content>
</mat-card>