<mat-card class="headerCard">
    <mat-card-header><h1>Programación Radiactiva - Manuel Florez</h1></mat-card-header>
</mat-card>
<br>

<!-- En este primer bloque hago uso de los servicios y del observable -->
<div class="cardBox">
    <h2 [style]="!subsState?'color:red':'color:green'">{{subsState?'Suscrito':'De-suscrito'}} observador</h2>

    <!-- si aún no hay datos muestra loading.. -->
    <div *ngIf="(data | json) == ({} | json); else elseBlock">Loading...</div>

    <!-- si hay datos entonces muestra esto -->
    <ng-template #elseBlock>
        <app-card [dataSource]="data"></app-card>
    </ng-template>
    <br>

    <!-- muestra el nombre de usuarios de tdas las cards que visualizaron -->
    <h3>Cards Mostradas</h3>
    <ul>
        <li *ngFor="let item of subsList">Card No {{item.count}} {{item.card}}</li>
    </ul>
</div>
<br>

<div class="listBox">
    <app-characters></app-characters>
</div>

