.cardBox{
    border-radius: 7px;
    padding: 1rem;
    background-color: #e9ffe4;
    color: #003303;
}
.listBox{
    border-radius: 7px;
    padding: 1rem;
    background-color: #096b09;
    color: white;
}

.headerCard{
    background-color: #2cfa1f;
    color: #003303;
}