<mat-card>
    <mat-card-header><h1>Programación Radiactiva</h1></mat-card-header>
</mat-card>
<br>
<div class="cardBox">
    <h2 [style]="!subsState?'color:red':'color:green'">{{subsState?'Suscrito':'De-suscrito'}} observador</h2>

    <!-- si aún no hay datos muestra loading.. -->
    <div *ngIf="(data | json) == ({} | json); else elseBlock">Loading...</div>

    <!-- si hay datos entonces muestra esto -->
    <ng-template #elseBlock>
        <app-card [dataSource]="data"></app-card>
    </ng-template>
    <br>

    <h3>Cards Mostradas</h3>
    <ul>
        <li *ngFor="let item of subsList">Card No {{item.count}} {{item.card}}</li>
    </ul>

</div>
